@mixin center-element {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin fixed-header {
  position: fixed;
  display: flex;
  top: 0;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}

@mixin gap-column-1 {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin gap-row-1 {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

@mixin debug-outline {
  @if $debugging {
    outline: 1px solid hotpink;
  }
}
