/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --ff-serif: "Bellefair", serif;
  --ff-sans-cond: "Barlow Condensed", sans-serif;
  --ff-sans-normal: "Barlow", sans-serif;
}

body {
  font-family: var(--ff-sans-normal);
}

header {
  position: sticky;
  display: flex;
  flex-direction: column;
  top: 0;
  background-color: #ffffff;
  z-index: 1000;
  text-align: center;
  padding: 2em;
  text-transform: uppercase;
  gap: 1em;
}

header p {
  font-size: 1em;
}

h1 {
  font-size: 2em;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 1px solid hotpink;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 2em;
  margin: 1em;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 1px solid hotpink;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

ul {
  outline: 1px solid hotpink;
}

button {
  background-color: #2980b9;
  color: white;
  border: none;
  padding: 1em 2em;
  border-radius: 16px;
  text-transform: uppercase;
}

section h2 {
  font-size: 1.2em;
  text-transform: uppercase;
}

section ul li {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#gameSection {
  display: flex;
  flex-direction: row;
  background-color: #CEF6FF;
  padding: 20px;
}

#frame {
  background-color: lightgray;
  border: solid rgb(12, 12, 12) 2px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#guessingContainer #guessInstruction {
  color: rgb(148, 22, 22);
}

#gameChatContainer {
  background-color: lightgray;
  margin-top: 10px;
  padding: 10px;
}
#gameChatContainer #chatList {
  margin-bottom: 20px;
  max-height: 200px;
  overflow-y: auto;
}
#gameChatContainer #chatList li {
  background-color: rgb(175, 173, 173);
  margin: 10px;
  height: 1.5rem;
  border-radius: 10px;
  padding: 5px;
}
#gameChatContainer #guessInput {
  border-radius: 10px;
  height: 1.5rem;
}

.hidden {
  position: absolute;
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}