/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --ff-serif: "Bellefair", serif;
  --ff-sans-cond: "Barlow Condensed", sans-serif;
  --ff-sans-normal: "Barlow", sans-serif;
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  background: #f3f3f3;
  color: #545454;
}

header {
  position: fixed;
  display: flex;
  top: 0;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  width: 100%;
  padding: 0 20px;
  height: 70px;
  background-color: #f3f3f3;
}
header .game-logo {
  display: flex;
  gap: 10px;
}
header .game-logo h1 {
  font-size: 2rem;
  color: #12b7b6;
}
header div {
  display: flex;
  gap: 20px;
  align-items: center;
}
header div .user-icon {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 42.5px;
  background: #f9f9f9;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.08), -10px -10px 20px 0px #fff;
}
header div p {
  font-size: 1rem;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1em;
  flex: 1;
  width: 100%;
}

.login-section {
  margin-top: 10%;
  gap: 100px;
}
.login-section .pictonary {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.login-section .pictonary img {
  width: 280px;
  height: 100px;
}
.login-section .pictonary p {
  width: 250px;
  text-align: center;
  font-size: 0.875rem;
  font-weight: 300;
}
.login-section .pictonary p span {
  color: #12b7b6;
  font-weight: 500;
}
.login-section .login-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.login-section .login-container .input-panel {
  display: flex;
  gap: 20px;
}
.login-section .login-container .input-panel .login-input {
  outline: none;
  border: none;
  height: 50px;
  width: 250px;
  padding-left: 20px;
  border-radius: 42.5px;
  background: #f9f9f9;
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.08) inset, -10px -10px 20px 0px #fff inset;
}

.game-lobby-section {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.game-lobby-section .lobby-container {
  display: flex;
  align-items: flex-end;
  gap: 50px;
}
.game-lobby-section .lobby-container .game-lobby-list {
  padding: 30px;
  width: 400px;
  height: 400px;
  flex-shrink: 0;
  border-radius: 43px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background: #f3f3f3;
  box-shadow: 20px 20px 50px 0px #d2d2d2, -20px -20px 50px 0px #fff;
}
.game-lobby-section .lobby-container .game-lobby-list li div {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}
.game-lobby-section .lobby-container .lobby-chat {
  padding: 30px;
  width: 300px;
  height: 350px;
  padding: 20px 25px;
  flex-shrink: 0;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: #f3f3f3;
  box-shadow: -10px 5px 50px 0px #d2d2d2, -20px -20px 50px 0px #fff;
}
.game-lobby-section .lobby-container .lobby-chat .chat-panel {
  display: flex;
  gap: 20px;
  align-items: center;
}
.game-lobby-section .lobby-container .lobby-chat .lobby-chat-container {
  width: 100%;
  height: 200px;
  background: #dedcdc;
  border-radius: 16px;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.08), -5px -5px 20px 0px #fff;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  overflow-y: auto;
  gap: 15px;
}
.game-lobby-section .lobby-container .lobby-chat .lobby-chat-container li {
  display: flex;
  gap: 15px;
}
.game-lobby-section .lobby-container .lobby-chat .lobby-chat-container li p {
  font-weight: 500;
}
.game-lobby-section .lobby-container .lobby-chat .chat-input-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.game-lobby-section .lobby-container .lobby-chat .chat-input-panel input {
  outline: none;
  border: none;
  border-radius: 14px;
  background-color: #f9f9f9;
  height: 30px;
  padding-left: 10px;
  color: #545454;
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.08) inset, -10px -10px 20px 0px #fff inset;
}
.game-lobby-section .lobby-container .lobby-chat .chat-input-panel input::-moz-placeholder {
  opacity: 70%;
}
.game-lobby-section .lobby-container .lobby-chat .chat-input-panel input::placeholder {
  opacity: 70%;
}
.game-lobby-section .start-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.game-lobby-section .start-container .start-panel {
  width: 400px;
  padding: 20px;
  border-radius: 15px;
  background: #f3f3f3;
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.09), -10px -10px 20px 0px #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.game-lobby-section .start-container .start-panel .player-ready-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.game-lobby-section .start-container .start-panel .start-game-button {
  font-size: 1.25rem;
  width: 150px;
}
.game-lobby-section .start-container .rules {
  display: flex;
  width: 300px;
  padding: 20px;
  gap: 10px;
  font-weight: 300;
  border-radius: 15px;
  background: #f3f3f3;
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.09), -10px -10px 20px 0px #fff;
}
.game-lobby-section .start-container .rules ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.game-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f3f3f3;
  width: 100%;
  gap: 50px;
  margin-top: 100px;
}
.game-section .random-container {
  margin-left: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 40px;
}
.game-section .random-container div {
  display: flex;
  gap: 10px;
  align-items: center;
}
.game-section .main-section {
  display: flex;
  height: 500px;
  gap: 60px;
}
.game-section .main-section article .frame {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
.game-section .main-section article .frame .canvas-container {
  border-radius: 43px;
  box-shadow: 20px 20px 50px 0px #d2d2d2, -20px -20px 50px 0px #fff;
  background: #f3f3f3;
  width: 600px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.game-section .main-section article .frame .canvas-container .canvas {
  border: none;
  border-radius: 43px;
  width: 580px;
  height: 480px;
  background-color: #dedcdc;
}
.game-section .main-section article .frame .canvas-bottom-panel {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
}
.game-section .main-section article .frame .canvas-bottom-panel button {
  box-shadow: 3px 3px 6px #d0d0d0, -3px -3px 6px #ffffff;
  width: 160px;
  height: 40px;
}
.game-section .main-section article .frame .canvas-bottom-panel .draw-options {
  height: 40px;
  gap: 10px;
  background-color: #f3f3f3;
  display: flex;
  align-items: center;
  padding: 0 10px;
  box-shadow: -10px 5px 50px 0px #d2d2d2, -20px -20px 50px 0px #fff;
  border-radius: 16px;
}
.game-section .main-section article .frame .canvas-bottom-panel .draw-options .draw-container {
  width: 100%;
}
.game-section .main-section article .frame .canvas-bottom-panel .draw-options ul {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.game-section .main-section article .frame .canvas-bottom-panel .draw-options ul div {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #f9f9f9;
  box-shadow: 3px 3px 6px #d0d0d0, -3px -3px 6px #ffffff;
  height: 25px;
  width: 25px;
}
.game-section .main-section article .frame .canvas-bottom-panel .draw-options ul div div {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #f9f9f9;
  box-shadow: 3px 3px 6px #d0d0d0, -3px -3px 6px #ffffff;
  height: 25px;
  width: 25px;
}
.game-section .main-section article .frame .canvas-bottom-panel .draw-options ul div div li {
  height: 15px;
  width: 15px;
  border-radius: 50%;
}
.game-section .main-section article .frame .canvas-bottom-panel .draw-options ul div div li:hover {
  cursor: pointer;
}
.game-section .main-section .guessing-container .game-chat-container {
  padding: 30px;
  width: 300px;
  height: 100%;
  padding: 20px 25px;
  flex-shrink: 0;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: #f3f3f3;
  box-shadow: -10px 5px 50px 0px #d2d2d2, -20px -20px 50px 0px #fff;
}
.game-section .main-section .guessing-container .game-chat-container .guess-chat-panel {
  display: flex;
  gap: 20px;
  align-items: center;
}
.game-section .main-section .guessing-container .game-chat-container .guess-chat-container {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  overflow-y: auto;
  gap: 15px;
  width: 100%;
  height: 400px;
  background: #dedcdc;
  border-radius: 16px;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.08), -5px -5px 20px 0px #fff;
}
.game-section .main-section .guessing-container .game-chat-container .guess-chat-container li {
  display: flex;
  gap: 15px;
}
.game-section .main-section .guessing-container .game-chat-container .guess-input-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.game-section .main-section .guessing-container .game-chat-container .guess-input-panel input {
  outline: none;
  border: none;
  border-radius: 14px;
  background-color: #f9f9f9;
  height: 30px;
  padding-left: 10px;
  color: #545454;
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.08) inset, -10px -10px 20px 0px #fff inset;
}
.game-section .main-section .guessing-container .game-chat-container .guess-input-panel input::-moz-placeholder {
  opacity: 70%;
}
.game-section .main-section .guessing-container .game-chat-container .guess-input-panel input::placeholder {
  opacity: 70%;
}
.game-section .main-section .score-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  /*       background: #2d2d2d; */
  border-radius: 16px;
  width: 260px;
  padding: 20px;
  background: #f3f3f3;
  box-shadow: -10px 5px 50px 0px #d2d2d2, -20px -20px 50px 0px #fff;
}
.game-section .main-section .score-list .score-panel {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  gap: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid lightgray;
}
.game-section .main-section .score-list .player-highscore {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.game-section .main-section .score-list .player-highscore li {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 1.25rem;
}
.game-section .main-section .score-list .player-highscore li .player-number {
  font-weight: #1edede;
  font-family: "Lato", sans-serif;
}
.game-section .main-section .score-list .player-highscore li .colon {
  font-family: "Lato", sans-serif;
}
.game-section .main-section .score-list .player-highscore li .points {
  color: #12b7b6;
  font-family: "Lato", sans-serif;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border-radius: 35.5px;
  background: #f9f9f9;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.08), -5px -5px 20px 0px #fff;
}

.icon-hover:hover {
  background-color: #f1eeee;
}

button {
  border: none;
  padding: 1em 2em;
  border-radius: 15px;
  background: #f9f9f9;
  box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.09), -10px -10px 20px 0px #fff;
  border-radius: 16px;
  text-transform: uppercase;
  cursor: pointer;
  color: #545454;
  font-family: "Montserrat", sans-serif;
}
button:hover {
  color: #12b7b6;
}

input {
  font-family: "Montserrat", sans-serif;
  font-size: smaller;
}
input::-moz-placeholder {
  opacity: 70%;
}
input::placeholder {
  opacity: 70%;
}

section h2 {
  font-size: 1.2em;
  text-transform: uppercase;
}

.test-buttons {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
  right: 50px;
  top: 5%;
}

.ready {
  width: 115px;
  background-color: #12b7b6;
  color: #f9f9f9;
  box-shadow: inset 5px 5px 10px rgba(0, 76, 76, 0.3), inset -5px -5px 10px #1edede;
}
.ready:hover {
  background: #1bdcdc;
  color: #f9f9f9;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.waiting {
  border: none;
  padding: 1em 2em;
  border-radius: 15px;
  background: #f9f9f9;
  box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.09), -10px -10px 20px 0px #fff;
  border-radius: 16px;
  text-transform: uppercase;
  cursor: pointer;
  color: #545454;
  font-family: "Montserrat", sans-serif;
}
.waiting:hover {
  color: #12b7b6;
}

.disabled {
  background: #dedcdc;
  opacity: 50%;
}
.disabled:hover {
  color: #545454;
  cursor: auto;
}

.active {
  background: #12b7b6;
  color: #f3f3f3;
  box-shadow: 5px 5px 10px #a5a5a5, -5px -5px 10px #ffffff;
}
.active:hover {
  cursor: pointer;
  background: #1bdcdc;
  color: #f3f3f3;
}

.player-panel {
  display: flex;
  align-items: center;
  gap: 10px;
}
.player-panel #dot-container {
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #f9f9f9;
  box-shadow: inset 4px 4px 8px #e0e0e0, inset -4px -4px 8px #ffffff;
}
.player-panel #dot-container .dot-panel {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #f9f9f9;
  box-shadow: 3px 3px 6px #d0d0d0, -3px -3px 6px #ffffff;
  height: 25px;
  width: 25px;
}
.player-panel #dot-container .dot-panel .list-dot {
  height: 15px;
  width: 15px;
  border-radius: 50%;
}

.blue {
  background: blue;
}

.red {
  background: red;
}

.orange {
  background: orange;
}

.green {
  background: green;
}

.black {
  background: black;
}

.hidden {
  position: absolute;
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

canvas {
  border: 1px solid black;
  width: 600px;
  height: 300px;
  display: block;
}/*# sourceMappingURL=style.css.map */